/* ========================================================================== 
   Admin Categories
   ========================================================================== 
*/

.admin-page[data-admin-collection="categories"] .admin-table th {
  position: sticky;
  z-index: 2;
  top: 0;
  background: var(--white-color);
  box-shadow: inset 0 -1px 0 var(--border-color);
  font-size: 1.4rem;
}

.admin-page[data-admin-collection="categories"] .admin-table-wrap {
  overflow: visible;
}

.admin-page[data-admin-collection="categories"] .admin-table td {
  font-size: 1.5rem;
}

.admin-page[data-admin-collection="categories"] > .admin-form-notice {
  margin-top: 10px;
}
