/* ==========================================================================
   Avatar Placeholder
   ==========================================================================
*/

.avatar-placeholder {
  display: block;
  fill: none;
  stroke: currentColor;
}
