/* ==========================================================================
   Modal
   ==========================================================================
*/

/* ==========================================================================
   Modal Shell
   ==========================================================================
*/

.modal {
  display: flex;
  position: fixed;
  inset: 0;
  animation: fadeIn 0.1s linear;
  z-index: 9999;
}

/* ==========================================================================
   Modal Overlay
   ==========================================================================
*/

.modal__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* ==========================================================================
   Modal Content
   ==========================================================================
*/

.modal__body {
  z-index: 1;
  margin: auto;
  animation: growth 0.1s linear;
  --growth-from: 0.8;
  --growth-to: 1;
}

/* ==========================================================================
   Modal State
   ==========================================================================
*/

body[data-modal-open="true"] {
  overflow: hidden;
}
